.main {
    grid-column: 1/ 13;
}

.main section {
    display: flex;
    justify-content: center;
    gap: var(--gap-l);
    margin-bottom: var(--gap-xl);
}

.main .image {
    width: 375px;
    height: 275px;
    background-color: lightgrey;
}

.main .content {
    width: 400px;
}
