/* CSS */
@import url("reset.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.content-grid {
    display: grid;
    grid-template-columns: 
        [border-start] 100px [perimeter-start] 100px [content-start] 1fr [content-end] 100px [perimeter-end] 100px [border-end];
}

.content-grid > * {
    grid-column: content;
}

:root {
    /* Colors */
    --color-yellow-400: hsl(42, 99%, 69%);
    --color-yellow-300: hsl(47, 100%, 90%);
    --color-purple-400: hsl(280, 96%, 45%);
    --color-purple-300: hsl(282, 89%, 90%);
    --color-cyan-400: hsl(198, 99%, 49%);
    --color-cyan-300: hsl(240, 100%, 90%);

    --color-hover: rgba(0, 0, 0, 50%);

    /* Fonts */
    --font-family: "Roboto"
}

body {
    font-family: var(--font-family);
}

.content-grid section:nth-child(odd) {
    grid-column: perimeter;
}

section {
    background-color: lightblue;
}

section:nth-child(odd) {
    background-color: lightcoral;
}

/* Nav */
nav {
    grid-column: border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: var(--color-cyan-300);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav a {

}

nav a:hover {
    color: var(--color-hover);
}